@using Firotechbd.Services
@model Firotechbd.Areas.Admin.ViewModels.EmployeePubProfileVM
@{

    Layout = "_AdminLayout";
    ViewData["Title"] = "Profile";

}
<div class="d-flex justify-content-center align-items-center">
    <div class="card card-primary card-outline col-md-11">
        <div class="card-header">
            <h5 class="m-0">@EmployeeProfile.CreateTitle</h5>
        </div>
        <div class="card-body">
            <form id="employeeProfileForm" enctype="multipart/form-data">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="employeeName" class="form-label">Employee Name</label>
                        <input asp-for="Id" name="Id" id="id">

                        <input type="text" value="@Model.EmployeeName" class="form-control" asp-for="EmployeeName" name="EmployeeName" id="employeeName" maxlength="100" placeholder="Enter employee name">
                    </div>
                    <div class="col-md-6">
                        <label for="employeePhone" class="form-label">Phone</label>
                        <input type="text" value="@Model.EmployeePhone" class="form-control" asp-for="EmployeePhone" name="EmployeePhone" id="employeePhone" maxlength="15" placeholder="Enter phone number">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="employeeEmail" class="form-label">Email</label>
                        <input type="email" value="@Model.EmployeeEmail" class="form-control" asp-for="EmployeeEmail" name="EmployeeEmail" id="employeeEmail" maxlength="100" placeholder="Enter email address">
                    </div>
                    <div class="col-md-6">
                        <label for="employeePosition" class="form-label">Position</label>
                        <select for="employeePosition" id="employeePosition" class="form-control" name="EmployeePosition" maxlength="50" placeholder="Enter position">
                            <option value="-1">Select One</option>
                            @if (Model.PositionDropdown != null)
                            {
                                @foreach (var list in Model.PositionDropdown)
                                {
                                    <option value="@list.Value" @(list.Value == Model.EmployeePosition ? "selected='selected'" : "")>@list.Name</option>
                                }
                            }

                        </select>
                        <span for="employeePosition" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="employeeAddress" class="form-label">Address</label>
                        <input type="text" value="@Model.EmployeeAddress" class="form-control" name="EmployeeAddress" id="employeeAddress" maxlength="255" placeholder="Enter address">
                    </div>
                    <div class="col-md-6">

                        <label for="employeeStatus" class="form-label">Status</label>
                        <select for="employeeStatus" id="employeeStatus" class="form-control" name="EmployeeStatus" maxlength="20" placeholder="Enter status">
                            <option value="-1">Select One</option>
                            @if (ViewBag.StatusList != null)
                            {



                                foreach (var list in ViewBag.StatusList)
                                {

                                    <option value="@list.Value" @(list.Value == Model.EmployeeStatus ? "selected='selected'" : "")>
                                        @list.Name
                                    </option>

                                }
                            }

                           

                        </select>
                        <span for="employeeStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="employeeAboutme" class="form-label">About Me</label>
                    <textarea class="form-control" value="@Model.EmployeeAboutme" name="EmployeeAboutme" id="employeeAboutme" rows="4" maxlength="1000" placeholder="Tell something about yourself"></textarea>
                </div>


                <h4 class="mb-3">Social Links</h4>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 mb-3">
                            <label for="employeefb"  class="form-label">Facebook</label>
                            <input type="url" value="@Model.Employeefb" class="form-control" name="Employeefb" id="employeefb" maxlength="100" placeholder="Enter Facebook profile URL">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="employeeLinkedin" class="form-label">LinkedIn</label>
                            <input type="url" value="@Model.EmployeeLinkedin" class="form-control" name="EmployeeLinkedin" id="employeeLinkedin" maxlength="100" placeholder="Enter LinkedIn profile URL">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="employeewp" class="form-label">WhatsApp</label>
                            <input type="text" value="@Model.Employeewp" class="form-control" name="Employeewp" id="employeewp" maxlength="100" placeholder="Enter WhatsApp number or link">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="employeex" class="form-label">Twitter</label>
                            <input type="url" value="@Model.Employeex" class="form-control" name="Employeex" id="employeex" maxlength="100" placeholder="Enter Twitter profile URL">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="employeeMailHot" class="form-label">Other Email</label>
                            <input value="@Model.EmployeeMailHot" type="email" class="form-control" name="EmployeeMailHot" id="employeeMailHot" maxlength="100" placeholder="Enter alternative email">
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="col-md-12 mb-3">
                            <label for="Slug" class="form-label">Profile Link - @AppConstants.CompanyWebsite</label>
                            <input type="text" value="@Model.Slug" class="form-control" name="Slug" id="Slug" maxlength="100" placeholder="Enter Valid Profile URL (Ex: arifulislam)">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="employeeProfileImage" class="form-label">Profile Image</label>
                            <input type="file" class="form-control" name="EmployeeProfileImage" id="employeeProfileImage" accept="image/*" onchange="previewImage(event)">
                            <div class="col-md-12 mb-3">
                                <div class="mt-3">
                                    @if (Model.EmployeeProfileImageUrl == null)

                                    {
                                        <img src="https://via.placeholder.com/315x315" id="imagePreview" class="img-thumbnail" style="max-width: 240px; max-height: 240px;" alt="Profile Image Preview">
                                    }

                                    else

                                    {
                                        <img src="@Url.Content("~/" + Firotechbd.Services.UploadFilePath.Common + "/" + Firotechbd.Services.UploadFilePath.EmployeeProfiles + "/" + Model.EmployeeProfileImageUrl)" id="imagePreview" class="img-thumbnail" style="max-width: 240px; max-height: 240px;" alt="Profile Image Preview">


                                        @* <img src="~/@Model.EmployeeProfileImageUrl" id="imagePreview" class="img-thumbnail" style="max-width: 240px; max-height: 240px;" alt="Profile Image Preview"> *@

                                    }
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" asp-for="IsActive" value="@Model.IsActive" name="IsActive" type="checkbox" id="isActive">
                            <label class="form-check-label" for="isActive">Is Active</label>
                        </div>
                    </div>
                </div>


                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/plugins/jquery/jquery.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function () {
                const output = document.getElementById('imagePreview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#employeeProfileForm').submit(function (e) {
                e.preventDefault();

                // Prepare form data
                var formData = new FormData(this);  
                console.log(Array.from(formData.entries()));
                
                // url: '@Url.Action("CreateNewl", "EmployeeProfiles", new { area = "Admin" })',
                $.ajax({
                    url: '/Admin/Employee/Profile/EmpProfile',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    
                    success: function (response) {
                        if (response.success) {
                            alert("Profile created successfully!");
                            // Redirect or update UI
                        } else {
                            // Display validation errors
                            $.each(response.errors, function (key, errorMessages) {
                                $("#" + key).next(".text-danger").text(errorMessages);
                            });
                        }
                    },
                    error: function () {
                        alert("An error occurred while saving the profile.");
                    }
                });
            });
        });
    </script>
}
