@{
    ViewData["Title"] = "Firotech - Finance & Tech Solution";
}

@Html.Partial("_LandingHomeMenu")

<!--MAIN BANNER AREA START -->
<div class="banner-area banner-3" id="home-section">
    <div class="overlay dark-overlay"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                        <div class="banner-content content-padding">
                            <h1 class="banner-title" style="font-size: 2.5em; font-weight: 700; color: #ffffff; line-height: 1.4em; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
                                Experience the Perfect Strategy of Investment Advice and Software Innovation
                            </h1>
                            <p style="font-size: 1.25em; color: #d3d3d3; margin-top: 20px;">
                                At Firotech, we bring together finance and technology to transform your future.
                            </p>
                            <div class="d-flex justify-content-center">
                                <a href="#service-head" class="btn btn-primary btn-circled" style="margin-top: 30px; padding: 10px 30px; font-size: 1.2em; text-transform: uppercase; font-weight: 600;">
                                Software
                            </a>
                                <a href="#investment-section" class="btn btn-white btn-circled" style="margin-top: 30px; padding: 10px 30px; font-size: 1.2em; text-transform: uppercase; font-weight: 600;">
                                Finance
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MAIN HEADER AREA END -->
<!--  ABOUT AREA START  -->
<section id="investment-section" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="section-heading">
                    <p class="lead">Invest today and plan for tomorrow</p>
                </div>
            </div>
        </div>
        <div class="row mb-12">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>01.</span>
                            <h4>Spending & saving</h4>
                            <p><b>Do more with your money</b> Firotech cash management products help you spend and save smarter so you can reach your goals.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>02.</span>
                            <h4>Trading & investing</h4>
                            <p><b>Invest the way you want to</b> Whether you are an active trader or investing in the future, we can help you reach your goals.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>03.</span>
                            <h4>Financial Planning</h4>
                            <p><b>Work with a dedicated advisor</b> We'll partner with you on a customized plan designed to help grow and protect your wealth</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>04.</span>
                            <h4>Build</h4>
                            <p>We build lasting partnerships with our clients, fostering collaborative success in digital transformation.</p>
                        </div>
                    </div>
                   
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>05.</span>
                            <h4>Risk Management and Analysis</h4>
                            <p><b>Plan for the future</b> We use sophisticated techniques to evaluate and mitigate risks, ensuring your investments are safeguarded. Our thorough analysis helps you navigate the market with greater confidence and precision.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>06.</span>
                            <h4>Market Insights and Trends</h4>
                            <p><b>Innovate with confidence</b> We provide you with up-to-date information and analysis on market trends, helping you understand how changes in the market could impact your investments.</p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>
<!--  ABOUT AREA END  -->

<!--  SERVICE PARTNER START  -->
<section id="service-head" class=" bg-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 m-auto">
                <div class="section-heading text-white">
                    <h4 class="section-title">Full Stack Software Development Solution</h4>
                    <p>
                        We’re full service which means we’ve got you covered on design & content right through to digital. You’ll
                        form a lasting relationship with us.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE PARTNER END  -->

<!--  SERVICE AREA START  -->
<section id="service">
    <div class="container">
        @Html.Partial("~/Pages/Shared/Service.cshtml")
       
    </div>
</section>
<!--  SERVICE AREA END  -->
<!--  Technologies We Use AREA STSRT  -->
<section id="technologies" class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mb-4">
                <h2 class="section-title">Offering Platforms and Technology</h2>
                <p class="section-subtitle">Our expertise spans across various modern technologies to build robust and scalable solutions.</p>
            </div>
            <!-- ASP.NET -->
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <div class="tech-box">
                    <img src="~/images/icon/asp-net-logo.png" alt="ASP.NET Logo" class="img-fluid mb-3" style="height: 80px;">
                    <h5>ASP.NET</h5>
                </div>
            </div>
            <!-- Angular -->
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <div class="tech-box">

                    <img src="~/images/icon/angularjs.png" alt="Angular Logo" class="img-fluid mb-3" style="height: 80px;">
                    <h5>Angular</h5>
                </div>
            </div>
            <!-- Bootstrap -->
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <div class="tech-box">
                    <img src="~/images/icon/bootstrap-logo.png" alt="Bootstrap Logo" class="img-fluid mb-3" style="height: 80px;">
                    <h5>Bootstrap</h5>
                </div>
            </div>
            <!-- JS -->
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <div class="tech-box">
                    <img src="~/images/icon/javascript-logo.png" alt="Javascript Logo" class="img-fluid mb-3" style="height: 80px;">
                    <h5>Javascript</h5>
                </div>
            </div>
            <!-- MS Sql -->
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <div class="tech-box">
                    <img src="~/images/icon/mssql-logo.png" alt="MS SQL Logo" class="img-fluid mb-3" style="height: 80px;">
                    <h5>MS SQL</h5>
                </div>
            </div>
            <!-- RESTful APIs -->
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <div class="tech-box">
                    <img src="~/images/icon/api-logo.png" alt="RESTful APIs Logo" class="img-fluid mb-3" style="height: 80px;">
                    <h5>RESTful APIs</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Technologies We Use AREA END  -->
<!--  SERVICE AREA START  -->
<section id="software-section" class="bg-light">
    @Html.Partial("~/Pages/Shared/ServiceFaq.cshtml")
</section>
<!--  SERVICE AREA END  -->

<section id="portfolio-section" class="bg-main">
    @Html.Partial("~/Pages/Shared/Portfolio.cshtml")
</section>
<!--  BLOG AREA START  -->
<section id="blog-section" class="section-padding bg-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 m-auto">
                <div class="section-heading">
                    <h4 class="section-title">Latest Blog news</h4>
                    <div class="line"></div>
                    <p>Our blog journey may come handy to build a community to make more effective success for business. Latest and trend tricks will help a lot </p>
                </div>
            </div>
        </div>

        <div class="row">
            @Html.Partial("~/Pages/Shared/Blog.cshtml")

        </div>
    </div>
</section>



