@model Firotechbd.Areas.Admin.Models.Lookup

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/assets/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/jquery.mCustomScrollbar.min.css">

</head>

<h1 class="text-center display-5">Create Lookup Table</h1>


<div class="row">
    <div class="col-md-10">
        <div class="align-items-start  pt-5">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Lookup Information</h3>
                    </div>
                    <div class="card-body">
                        <form id="LookupForm">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="Type" class="form-label">Type</label>
                                    <input id="Id" type="hidden" class="form-control" placeholder="" />
                                    <input id="Type" type="text" class="form-control" placeholder="Enter Type" required />

                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="Name" class="form-label">Name</label>
                                    <input id="Name" type="text" class="form-control" placeholder="Enter Name" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="Value" class="form-label">Value</label>
                                    <input id="Value" type="text" class="form-control" placeholder="Enter Value" required />
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="Serial" class="form-label">Serial</label>
                                    <input id="Serial" type="number" class="form-control" placeholder="Enter Serial" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label class="control-label">Is Active</label>
                                    <select class="form-control" id="IsActive" required>
                                        <option value="-1">Select one</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="button" id="submitButton" class=" btn btn-success btn-lg">Submit</button>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <br />
        <br />
        <br />
        <br />
        <div class="card shadow-lg mb-4">
            <div class="card-header bg-secondary text-white text-center">
                <h4 class="mb-0">Lookup Data</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered text-center align-middle" id="lookupTable">
                    <thead class="text-white bg-dark">
                        <tr>
                            <th scope="col">Serial</th>
                            <th scope="col">Value</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">IsActive</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.List != null && ViewBag.List.Count > 0)
                        {
                            foreach (var city in ViewBag.List)
                            {
                                <tr>
                                    <td>@city.Serial</td>
                                    <td>@city.Value</td>
                                    <td>@city.Name</td>
                                    <td>@city.Type</td>
                                    <td>@(city.IsActive ? "Yes" : "No")</td>

                                    <td>
                                        <button type="button" id="deleteButton" class="btn btn-outline-danger btn-lg" data-id="@city.Id">Delete</button>
                                    </td>


                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-muted">No data available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/js/alert.js"></script>
<script>



    $(document).on('click', '#deleteButton', function () { //  is used to attach event handlers to dynamically added all delete elements
        var id = $(this).data('id');

        var lookupData = {
            Id: id,

        };
        console.log(lookupData);

        $.ajax({
            url: '@Url.Action("DeleteLookup", "Lookup")',
            type: 'POST',
            data: lookupData,
            success: function (receive) {


                if (receive.success) {
                    Swal.fire("Deleted!", "The item has been deleted.", "success");
                    $('#lookupTable tbody').find('button[data-id="' + id + '"]').closest('tr').remove();
                }


            },
            error: function () {
                swal.fire("Error!");
            }

        })



    });


    $(document).ready(function () {



        //submitbutton

        $("#submitButton").click(function () {


            var lookupData = {
                Type: $('#Type').val(),
                Name: $('#Name').val(),
                Value: $('#Value').val(),
                Serial: $('#Serial').val(),
                IsActive: $('#IsActive').val(),
            };
            console.log(lookupData);

            $.ajax({
                url:'@Url.Action("CreateLookup", "Lookup")',
                type: 'POST',
                data: lookupData,
                success: function (response) {
                    Swal.fire("Done!");
                    var newRow = `

                                        <tr>
                                        <td>${response.data[response.data.length - 1].serial}</td>
                                        <td>${response.data[response.data.length - 1].value}</td>
                                        <td>${response.data[response.data.length - 1].name}</td>
                                        <td>${response.data[response.data.length - 1].type}</td>
                                        <td>${response.data[response.data.length - 1].isActive ? 'Yes' : 'No'}</td>

                                        <td>

                                            <button type="button" id="deleteButton" class="btn btn-outline-danger btn-lg" data-id="${response.data[response.data.length - 1].id}">Delete</button>
                                        </td>


                                        </tr>


                            `;

                    $('#lookupTable tbody').append(newRow);
                    $('#LookupForm')[0].reset();


                },
                error: function () {
                    swal.fire("Failed!");
                }

            })



        });



    });




</script>
